@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Lato";
  font-display: swap;
  src: local("Lato Light"), url("../fonts/Lato-Light.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Lato";
  font-display: swap;
  src: local("Lato Regular"), url("../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Lato";
  font-display: swap;
  src: local("Lato Bold"), url("../fonts/Lato-Bold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat Regular"), url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat Medium"), url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
  border-style: none;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
  display: list-item;
}

/* Misc
     ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.modal-active {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
}

button:focus {
  color: #000000;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #991c3f), to(#542e78)) no-repeat;
  background: -o-linear-gradient(left, #991c3f 0, #542e78 100%) no-repeat;
  background: linear-gradient(to right, #991c3f 0, #542e78 100%) no-repeat;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  z-index: 3;
}

.callback-btn {
  padding: 10px;
  border: 1px solid #fafafa;
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.callback-btn:hover {
  background: -o-linear-gradient(77deg, #9c9595 30%, #ddd8d8 75%);
  background: linear-gradient(13deg, #9c9595 30%, #ddd8d8 75%);
  color: #000000;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.logo {
  color: #ffffff;
  font-family: "Lato";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: lowercase;
}

.logo__stylish {
  font-weight: 300;
}

.menu-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav__link {
  color: #ffffff;
  display: block;
  margin: 0 40px;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
  text-transform: uppercase;
}

.menu-nav__link:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.header-user-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-user-links__link {
  position: relative;
  color: #ffffff;
  display: block;
  margin: 0 10px;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
  border: none;
  border-radius: 20px;
  background-color: #fafafa;
  height: 40px;
  padding: 40px 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header-user-links__link:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.later {
  background-image: url("../img/like.png");
}

.basket {
  position: relative;
  color: #ffffff;
  display: block;
  margin: 0 10px;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
  border: none;
  border-radius: 25px;
  background-color: #fafafa;
  padding: 20px 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/shopping-cart_icon-icons.com_69913.png");
}

.basket:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.mini-later {
  position: absolute;
  top: -8px;
  left: -8px;
  padding: 0px 6px;
  font-weight: 500;
  background-color: #ff0000;
  opacity: 0.9;
  color: #000000;
  border-radius: 10px 10px;
}

.mini-cart {
  position: absolute;
  top: -8px;
  left: -8px;
  padding: 0px 6px;
  font-weight: 500;
  background-color: #ff0000;
  opacity: 0.9;
  color: #000000;
  border-radius: 10px;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  border: none;
  background: transparent;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 3;
}

.burger::before,
.burger::after {
  content: '';
  background: #fafafa;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger__line {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fafafa;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.burger-menu {
  margin-left: 28.3%;
  margin-top: 170px;
}

.burger-menu__link {
  display: inline-block;
  width: 159px;
  height: 35px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 48px;
  font-weight: 700;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  margin-bottom: 40px;
}

.burger-menu__link:hover {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.active {
  overflow: hidden;
}

.active .menu-nav__list {
  right: 0;
}

.active .modal {
  right: 66%;
}

.active .burger::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.active .burger::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

.active .burger__line {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.main {
  padding: 40px 0 0;
  background-color: #f8f5f5;
  overflow: hidden;
}

.main__name-later {
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  margin: 10px auto;
}

.first {
  position: relative;
}

.first__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.first__container {
  max-width: 1460px;
  position: absolute;
  top: 275px;
  left: 75px;
}

.first__subtitle {
  position: relative;
  z-index: 5;
  color: #ffffff;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.68px;
  display: inline-block;
}

.first__heading {
  margin-top: 10px;
  position: relative;
  z-index: 5;
  color: #ffffff;
  font-size: 84px;
  font-weight: 700px;
  text-transform: lowercase;
  letter-spacing: -0.7px;
}

.first__descr {
  margin-top: 20px;
  position: relative;
  z-index: 5;
  color: #ffffff;
  max-width: 675px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.23px;
}

.goods-out {
  width: 100%;
  padding: 80px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cart {
  background-color: #fafafa;
  color: #424242;
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  margin: 0 3px 30px;
  padding: 20px 0;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(197, 189, 198, 0.8);
          box-shadow: 1px 1px 5px 5px rgba(197, 189, 198, 0.8);
}

.cart__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__container:hover {
  opacity: 0.5;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.cart__name {
  margin: 0 auto 10px;
  color: #000000;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.cart__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.cart__descr {
  padding: 0 10px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #000000;
}

.cart__cost {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 4px 8px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid rgba(0, 128, 0, 0.8);
  border-radius: 25px;
  background-color: rgba(19, 179, 19, 0.712);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 128, 0, 0.7);
          box-shadow: 0px 0px 3px 2px rgba(0, 128, 0, 0.7);
  color: #000000;
}

.cart__add-to-cart {
  font-size: 1.2rem;
  font-weight: 500;
  width: 85%;
  padding: 18px 25px;
  margin: 20px auto 0;
  text-align: center;
  border-radius: 25px;
}

.cart__link {
  font-size: 18px;
  font-weight: 500;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.cart__link-catalog {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.neon-btn {
  color: #ffffff;
  background: #bc378b;
  cursor: pointer;
  border: none;
  letter-spacing: 3px;
  position: relative;
  padding: 15px 30px;
  overflow: hidden;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.neon-btn__decorate {
  position: absolute;
  display: block;
}

.neon-btn__decorate--one {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#421431));
  background: -o-linear-gradient(left, transparent, #421431);
  background: linear-gradient(90deg, transparent, #421431);
}

.neon-btn__decorate--three {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#421431));
  background: -o-linear-gradient(right, transparent, #421431);
  background: linear-gradient(270deg, transparent, #421431);
}

.neon-btn__decorate--two {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#421431));
  background: -o-linear-gradient(top, transparent, #421431);
  background: linear-gradient(180deg, transparent, #421431);
}

.neon-btn__decorate--four {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#421431));
  background: -o-linear-gradient(bottom, transparent, #421431);
  background: linear-gradient(360deg, transparent, #421431);
}

.neon-btn:hover {
  background-color: #fe59c2;
  -webkit-box-shadow: 0 0 10px #fe59c2, 0 0 40px #fe59c2, 0 0 80px #fe59c2;
          box-shadow: 0 0 10px #fe59c2, 0 0 40px #fe59c2, 0 0 80px #fe59c2;
  -webkit-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.neon-btn:focus {
  color: #ffffff;
  opacity: 0.5;
}

.neon-btn:hover .neon-btn__decorate--one {
  left: 100%;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.neon-btn:hover .neon-btn__decorate--three {
  right: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.neon-btn:hover .neon-btn__decorate--two {
  top: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.neon-btn:hover .neon-btn__decorate--four {
  bottom: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.single-goods .cart {
  width: 100%;
}

.single-goods .cart__container:hover {
  opacity: 1;
}

.single-goods .cart__descr {
  max-width: 80%;
}

.single-goods .cart__add-to-cart {
  height: 20%;
  max-width: 50%;
}

.single-goods__carusel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image {
  width: 48px;
}

.delivery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  margin: 50px auto 0;
  background-color: #ffffff;
}

.delivery__container {
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
}

.delivery__descr {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Lato';
  margin: 0;
  max-width: 600px;
}

.delivery__descr:nth-of-type(1) {
  padding: 100px 0 50px;
  font-weight: 700;
  background-image: url("../img/nova-poshta-car.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 130px;
}

.delivery__descr:nth-of-type(2) {
  padding-bottom: 50px;
  background-image: url("../img/nova-poshta.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 150px;
}

.my-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-cart__item {
  padding: 25px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-main {
  padding: 100px 0 0;
  background-color: #2b2b2b;
  overflow: hidden;
}

.cart-main__container {
  color: #ffffff;
  max-width: 1200px;
  padding: 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #5a4f4f;
  border-radius: 25px;
}

.cart-main__descr {
  font-size: 20px;
  font-style: "Lato";
  font-weight: 700;
  text-align: left;
}

.main-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.main-cart__empty {
  font-size: 20px;
  font-weight: 500;
}

.main-cart__catalog {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.main-cart__item {
  font-size: 20px;
  font-style: "Lato";
  font-weight: 400;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
  border-bottom: 1px solid #808080;
}

.main-cart__image {
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}

.main-cart__name {
  min-width: 250px;
  max-width: 250px;
}

.main-cart__counter {
  min-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #e9dbdbd3;
  border-radius: 25px;
  font-size: 20px;
}

.main-cart__minus-goods {
  padding: 0;
  text-align: center;
  border: none;
  background: transparent;
  color: #ffffff;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  width: 35px;
  line-height: 1.4;
  outline: none;
}

.main-cart__minus-goods:focus {
  color: #000000;
}

.main-cart__plus-goods {
  padding: 0;
  text-align: center;
  border: none;
  background: transparent;
  color: #ffffff;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  width: 35px;
}

.main-cart__quantity {
  text-align: center;
  width: 50px;
  margin: 0 5px;
  border-left: 3px solid #e9dbdbd3;
  border-right: 3px solid #e9dbdbd3;
}

.main-cart__sum {
  min-width: 100px;
}

.main-cart__del-goods {
  border: none;
  background: transparent;
  background-image: url("../img/trash.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: #f50a0afa;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.main-cart__del-goods:focus {
  color: #f50a0afa;
  opacity: 0.9;
}

.form {
  width: 100%;
  background-color: #5a4f4f;
  border-radius: 25px;
  margin: 0 auto;
}

.form__container {
  margin: 50px auto;
  padding: 50px 50px 0;
  max-width: 600px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #5a4f4f;
  border-radius: 25px;
}

.form__descr {
  color: #ffffff;
  font-weight: 700;
  padding: 0 10px;
  margin: 0 auto;
}

.form__label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__span {
  color: #ffffff;
}

.form__input {
  max-width: 250px;
  height: 50%;
}

.form__span_check {
  color: #ffffff;
}

.form__btn {
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  background-color: #171514d3;
  padding: 10px 20px;
  margin: 0 auto;
  width: 65%;
  height: 50px;
}

.form__btn:hover {
  opacity: 0.8;
}

.contacts {
  position: relative;
  padding: 25px 0 25px;
}

.contacts__container {
  font-style: inherit;
  max-width: 1680px;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__item {
  width: 25%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contacts__heading {
  color: #ffffff;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.68px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  margin-bottom: 15px;
}

.contacts__heading_phone {
  background-image: url("../img/phone.png");
}

.contacts__heading_email {
  background-image: url("../img/mail.png");
}

.contacts__heading_whatsapp {
  background-image: url("../img/whatsapp.png");
  background-size: contain;
}

.contacts__heading_telegram {
  background-image: url("../img/telegram.png");
  background-size: contain;
}

.contacts__value {
  display: block;
  padding-left: 24px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

.contacts__whatsapp-link {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.contacts__telegram-link {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.footer {
  background-color: #3d1b57;
  padding: 56px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__designed {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
}

.modal {
  display: block;
  position: absolute;
  top: 60px;
  right: -100%;
  width: 34%;
  height: 100vh;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: rgba(119, 112, 112, 0.6);
  z-index: 20;
}

@media (min-width: 1921px) {
  .catalog__container {
    max-width: 100%;
  }
}

@media (max-width: 1560px) {
  .first__container {
    max-width: 1200px;
    top: 150px;
  }
}

@media (max-width: 1520px) {
  .cart {
    width: 31%;
  }

  .single-goods .cart {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .first__container {
    max-width: 840px;
  }

  .first__subtitle {
    font-size: 22px;
  }

  .first__heading {
    font-size: 64px;
  }

  .cart-main__container {
    padding: 0 20px;
  }

  .main-cart__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .menu-nav__list {
    display: block;
    position: fixed;
    top: 40px;
    right: -100%;
    width: 66%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #991c3f), to(#542e78)) no-repeat;
    background: -o-linear-gradient(left, #991c3f 0, #542e78 100%) no-repeat;
    background: linear-gradient(to right, #991c3f 0, #542e78 100%) no-repeat;
    text-align: center;
    padding: 100px 20px 20px;
    font-size: 18px;
    font-weight: 500;
    overflow: auto;
  }

  .menu-nav__link {
    margin: 0 0 35px 0;
  }

  .header-user-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .header-user-links__link {
    font-size: 10px;
    width: 40px;
  }

  .basket {
    padding: 20px;
    font-size: 10px;
    width: 40px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .burger {
    display: block;
  }

  .burger-menu {
    margin-left: 0;
    margin-top: 50px;
  }

  .cart {
    width: 48%;
  }

  .cart__add-to-cart {
    width: 75%;
  }

  .single-goods .cart {
    width: 100%;
  }

  .contacts__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__item {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 980px) {
  .first__container {
    max-width: 768px;
    top: 100px;
  }

  .first__heading {
    font-size: 44px;
  }
}

@media (max-width: 900px) {
  .main-cart__item {
    height: 250px;
  }
}

@media (max-width: 820px) {
  .first__container {
    max-width: 455px;
    top: 70px;
  }

  .first__subtitle {
    font-size: 18px;
  }

  .first__heading {
    font-size: 34px;
  }

  .first__descr {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .goods-out {
    padding: 80px 0 0;
  }
}

@media (max-width: 767px) {
  .burger-menu {
    width: 100%;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .burger-menu__link {
    font-size: 30px;
  }

  .contacts__item {
    width: 100%;
  }

  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__designed {
    margin-left: 20px;
  }

  .footer__copyright {
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }

  .footer__logo {
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .cart__name {
    font-size: 0.6rem;
  }

  .cart__descr {
    font-size: 14px;
  }

  .cart__cost {
    font-size: 0.6rem;
  }

  .cart__add-to-cart {
    padding: 10px 15px;
    font-size: 0.6rem;
  }
}

@media (max-width: 585px) {
  .form__container {
    height: 550px;
    padding: 50px 10px 0;
  }
}

@media (max-width: 560px) {
  .main-cart__image {
    width: 150px;
  }
}

@media (max-width: 555px) {
  .first__container {
    top: 10px;
    max-width: 200px;
  }

  .first__subtitle {
    font-size: 12px;
  }

  .first__heading {
    font-size: 18px;
    margin-top: 5px;
  }

  .first__descr {
    font-size: 12px;
    margin: 5px 0 0;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .cart__add-to-cart {
    width: 90%;
  }
}